PLEASE FILL IN SECTIONS BELOW, REPLACING ITALIC TEXT WITH YOUR CONTENT

# Introduction
Data analysis summarizing how the population of orange county commutes

# Setup
## Data
VERY, VERY IMPORTANT PLEASE PROVIDE DEATILS ABOUT THE DATA YOU USED AND HOW TO GET IT SO OTHERS CAN RUN THIS AMAZING NOTEBOOK TOO

|Dataset               | Type           | Description                                     |  Where to get the data |
|----------------------|----------------|-------------------------------------------------|------------------------|
|                      |                |                                                 |                        |
|                      |                |                                                 |                        |
|                      |                |                                                 |                        |

## Environment
PLEASE RUN THE PANEL BELOW SO OTHERS KNOW EXACTLY THE ENVIRONMENT

In [6]:
# Add package installs here, for example ...
# !pip install pycurl

#!python -V
#!pip list

#!pip install geopandas
#!pip install census
#!pip install us

Collecting us
  Downloading us-3.1.1.tar.gz (14 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Collecting jellyfish==0.11.2 (from us)
  Downloading jellyfish-0.11.2-cp311-none-win_amd64.whl (208 kB)
                                              0.0/208.0 kB ? eta -:--:--
     -                                        10.2/208.0 kB ? eta -:--:--
     -----------------------------------    194.6/208.0 kB 2.3 MB/s eta 0:00:01
     -------------------------------------- 208.0/208.0 kB 2.5 MB/s eta 0:00:00
Building wheels for collected packages: us
  Building wheel for us (setup.py): started
  Building wheel for us (setup.py): finished with status 'done'
  Created wheel for us: filename=us-3.1.1-py3-none-any.whl size=12614 sha256=2d0f023b7ad30f70078e514aea9dc5ba10f0908d9e4b1dbf5b8f4efa664f365e
  Stored in directory: c:\users\seans\appdata\local\pip\cache\wheels\88\1d\36\4c39b41019d5c316628db111f85de00af4476af5b9c5ddccc3
Successfully built us
Installing collected packages: jellyfish, us
Successfully installed jellyfish-0.11.2 us-3.1.1

In [9]:
# Add imports here
import matplotlib.pyplot as plt
import pandas as pd
import geopandas as gpd
from census import Census
from us import states
from pathlib import Path
import os

## Settings
PLEASE USE VARIABLES FOR THINGS LIKE FILE LOCATIONS AND CONFIGURATION SETTINGS

In [ ]:
# Some examples ...
DATA_DIRECTORY = './/'
USER_NAME = ''

# Please always use environment variables for sensative credentials, never commit credentials to github
USER_PASSWORD = os.environ['USER_PASSWORD']

## Data

In [75]:
# Put code here for getting your data. Use tools such as curl and wget if data is available online
# used data provided from US census. Downloaded csv file to local machine.

csvpath = Path("ACSST5Y2021.S0801-Data.csv")

#read in csv file and set to dataframe
commute_df = pd.read_csv(csvpath)

#show dataframe
commute_df.head()

,GEO_ID,NAME,S0801_C01_001E,S0801_C01_001M,S0801_C01_001MA,S0801_C01_001EA,S0801_C01_002E,S0801_C01_002M,S0801_C01_002MA,S0801_C01_002EA,...,S0801_C03_055EA,S0801_C03_056E,S0801_C03_056M,S0801_C03_056MA,S0801_C03_056EA,S0801_C03_057E,S0801_C03_057M,S0801_C03_057MA,S0801_C03_057EA,Unnamed: 686
0,Geography,Geographic Area Name,Estimate!!Total!!Workers 16 years and over,Margin of Error!!Total!!Workers 16 years and over,Annotation of Margin of Error!!Total!!Workers ...,Annotation of Estimate!!Total!!Workers 16 year...,Estimate!!Total!!Workers 16 years and over!!ME...,Margin of Error!!Total!!Workers 16 years and o...,Annotation of Margin of Error!!Total!!Workers ...,Annotation of Estimate!!Total!!Workers 16 year...,...,Annotation of Estimate!!Female!!PERCENT ALLOCA...,Estimate!!Female!!PERCENT ALLOCATED!!Travel ti...,Margin of Error!!Female!!PERCENT ALLOCATED!!Tr...,Annotation of Margin of Error!!Female!!PERCENT...,Annotation of Estimate!!Female!!PERCENT ALLOCA...,Estimate!!Female!!PERCENT ALLOCATED!!Vehicles ...,Margin of Error!!Female!!PERCENT ALLOCATED!!Ve...,Annotation of Margin of Error!!Female!!PERCENT...,Annotation of Estimate!!Female!!PERCENT ALLOCA...,NaN
1,1400000US12095010201,"Census Tract 102.01, Orange County, Florida",1315,305,NaN,NaN,73.2,10.1,NaN,NaN,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),NaN
2,1400000US12095010202,"Census Tract 102.02, Orange County, Florida",2441,459,NaN,NaN,70.5,7.5,NaN,NaN,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),NaN
3,1400000US12095010300,"Census Tract 103, Orange County, Florida",1515,279,NaN,NaN,82.1,7.3,NaN,NaN,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),NaN
4,1400000US12095010400,"Census Tract 104, Orange County, Florida",333,80,NaN,NaN,71.8,15.2,NaN,NaN,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),NaN

In [76]:
commute_df.shape

(268, 687)

In [77]:
commute_df.dtypes

GEO_ID              object
NAME                object
S0801_C01_001E      object
S0801_C01_001M      object
S0801_C01_001MA     object
                    ...
S0801_C03_057E      object
S0801_C03_057M      object
S0801_C03_057MA     object
S0801_C03_057EA     object
Unnamed: 686       float64
Length: 687, dtype: object

In [78]:
#remove columns with NaN values

commute_df_clean = commute_df.dropna(axis = 'columns')

commute_df_clean.shape

(268, 374)

In [79]:
commute_df_clean.columns

Index(['GEO_ID', 'NAME', 'S0801_C01_001E', 'S0801_C01_001M', 'S0801_C01_002E',
       'S0801_C01_002M', 'S0801_C01_003E', 'S0801_C01_003M', 'S0801_C01_004E',
       'S0801_C01_004M',
       ...
       'S0801_C03_055MA', 'S0801_C03_055EA', 'S0801_C03_056E',
       'S0801_C03_056M', 'S0801_C03_056MA', 'S0801_C03_056EA',
       'S0801_C03_057E', 'S0801_C03_057M', 'S0801_C03_057MA',
       'S0801_C03_057EA'],
      dtype='object', length=374)

In [80]:
#columns_to_delete = []

for column in commute_df_clean:
    if commute_df_clean[column].str.contains(r'\(X\)', case = False).any():
        commute_df_clean = commute_df_clean.drop(column, axis = 1)

display(commute_df_clean)

,GEO_ID,NAME,S0801_C01_001E,S0801_C01_001M,S0801_C01_002E,S0801_C01_002M,S0801_C01_003E,S0801_C01_003M,S0801_C01_004E,S0801_C01_004M,...,S0801_C03_047E,S0801_C03_047M,S0801_C03_048E,S0801_C03_048M,S0801_C03_049E,S0801_C03_049M,S0801_C03_050E,S0801_C03_050M,S0801_C03_051E,S0801_C03_051M
0,Geography,Geographic Area Name,Estimate!!Total!!Workers 16 years and over,Margin of Error!!Total!!Workers 16 years and over,Estimate!!Total!!Workers 16 years and over!!ME...,Margin of Error!!Total!!Workers 16 years and o...,Estimate!!Total!!Workers 16 years and over!!ME...,Margin of Error!!Total!!Workers 16 years and o...,Estimate!!Total!!Workers 16 years and over!!ME...,Margin of Error!!Total!!Workers 16 years and o...,...,Estimate!!Female!!VEHICLES AVAILABLE!!Workers ...,Margin of Error!!Female!!VEHICLES AVAILABLE!!W...,Estimate!!Female!!VEHICLES AVAILABLE!!Workers ...,Margin of Error!!Female!!VEHICLES AVAILABLE!!W...,Estimate!!Female!!VEHICLES AVAILABLE!!Workers ...,Margin of Error!!Female!!VEHICLES AVAILABLE!!W...,Estimate!!Female!!VEHICLES AVAILABLE!!Workers ...,Margin of Error!!Female!!VEHICLES AVAILABLE!!W...,Estimate!!Female!!VEHICLES AVAILABLE!!Workers ...,Margin of Error!!Female!!VEHICLES AVAILABLE!!W...
1,1400000US12095010201,"Census Tract 102.01, Orange County, Florida",1315,305,73.2,10.1,69.4,10.9,3.9,4.7,...,670,189,6.0,6.8,63.1,16.7,14.0,9.4,16.9,17.2
2,1400000US12095010202,"Census Tract 102.02, Orange County, Florida",2441,459,70.5,7.5,70.5,7.5,0.0,1.9,...,987,273,1.5,2.3,40.9,14.2,49.5,14.0,8.0,7.8
3,1400000US12095010300,"Census Tract 103, Orange County, Florida",1515,279,82.1,7.3,79.6,7.6,2.5,1.9,...,721,204,0.0,6.4,57.4,15.9,37.9,16.1,4.7,5.8
4,1400000US12095010400,"Census Tract 104, Orange County, Florida",333,80,71.8,15.2,59.5,15.3,12.3,11.4,...,150,58,24.0,20.5,38.7,21.4,37.3,19.5,0.0,26.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
263,1400000US12095018800,"Census Tract 188, Orange County, Florida",3643,622,76.1,7.6,73.8,7.6,2.3,1.6,...,1327,303,1.6,2.1,33.5,10.1,53.7,11.0,11.2,9.2
264,1400000US12095018901,"Census Tract 189.01, Orange County, Florida",1539,523,63.5,13.4,57.6,14.0,5.9,7.1,...,633,214,8.7,13.9,57.5,19.0,31.9,18.1,1.9,3.7
265,1400000US12095018902,"Census Tract 189.02, Orange County, Florida",2808,590,83.5,7.6,82.6,7.9,0.9,1.7,...,1285,485,0.0,3.6,66.6,16.1,24.5,15.8,8.9,9.5
266,1400000US12095019000,"Census Tract 190, Orange County, Florida",2256,342,84.1,4.9,75.1,7.7,9.0,7.0,...,1096,214,0.8,1.3,32.8,12.0,47.9,12.5,18.5,7.6
267,1400000US12095990000,"Census Tract 9900, Orange County, Florida",0,14,-,**,-,**,-,**,...,0,14,-,**,-,**,-,**,-,**

AttributeError: 'DataFrame' object has no attribute 'astypes'

## Analysis

In [ ]:
# This is where the magic happens!!!! Add your work here